/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body, html {
  height: 100%;
  margin: 0;
}
nav ul li a{
  color: black;
}
#index-banner, .parallaxbg, .parallaxbg2 {
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index-banner {
  background-image: url("../img/alessandro-sacchi-195969.jpg");
  min-height: 100%;
}
.parallaxbg {
    background-image: url("../img/background3.jpg");
    margin: 0;
    height: 400px;
}
.parallaxbg2 {
    background-image: url("../img/background.jpg");
    margin: 0;
    height: 400px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}