html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  background-color: #dce9f2;  
}

.affix {
  top: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(220,233,242,0.7);
  border: none;
  font-family: 'Tenor Sans', sans-serif;
  font-size: medium;
}

.navbar-default .navbar-brand {
    color: #272724;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #272724;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e5e6e4;
}

a.navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #e5e6e4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #272724;
    background-color: #e5e6e4;
}

#title1 {
  font-family: 'Archivo Black', sans-serif;
}

#slogan1 {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: bold;
}

#jumbotron {
  height: 700px;
  background-image: url("../images/header.png");
  background-size: contain;
  margin-bottom: 0;
}

#jumbotext {
  margin-top: 150px;
  color: #272724;
}

#abouttext {
  font-size: 18px;
}

.about-tabs > li > a {
  font-size: 15px;
}

.section-header {
  height: 120px;
  background-color: transparent;
  color: #272724;
  padding-top: 10px;
  margin-bottom: 0;
}

#portfolio {
	background-color: #e7d3f9;
}

.form {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
}

.certificate {
  height: 200px;
  width: 200px;
}

.skills {
  height: 150px;
  width: 150px;
}

.skills2 {
  height: 100px;
  width: 100px;
}

.btn {
  font-family: 'Tenor Sans', sans-serif;
}

#summary1 {
  font-family: 'Tenor Sans', sans-serif;
}

p, h4 {
  font-family: 'Tenor Sans', sans-serif;
}

h1, h2, h3, h5 {
  font-family: 'Archivo Black', sans-serif;
}

#aboutparagraph {
  font-size: medium;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-above, .footer-below {
  background-color: #272724;
  color: #fff;
}

.btn-social, .btn-outline > a {
  color: #fff;
}

.parallax { 
    /* The image used */
    background-image: url("../images/header.jpg");

    /* Set a specific height */
    height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 720px) {
  .navbar-collapse {
    background-color: #2e3758;
    margin-top: 18px;
    text-align: right;
  }
}

